:root {
  --ShowDetailsbgColor1: rgb(34, 193, 195);
  --ShowDetailsbgColor2: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(53, 123, 212, 1) 50%,
    rgba(97, 45, 253, 1) 100%
  );
}

/* Show Details */
#showDetails {
  max-width: 100%;
  max-height: 100vh;
  background-color: var(--ShowDetailsbgColor1), var(--ShowDetailsbgColor2);
}
#filterData {
  height: 99vh;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #496cde;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(236, 155, 155, 0.08) 0px 1px 0px inset;
  border-radius: 2px;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

/* Active */
.text-center a.active {
  color: #ffc107;
}

.mycolumn a.active {
  color: #ffc107;
}

/* Login form  */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

/* Send Mail */
#sendMailpage {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(53, 123, 212, 1) 50%,
    rgba(97, 45, 253, 1) 100%
  );
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#sendMailBox {
  width: 25rem;
  height: 30rem;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/*ShowDetails  */
#ShowDetailsCol_2 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* TabSection */
#iconsbar {
  width: 3rem;
  height: 100vh;
}

ul li a {
  color: white;
}

/* Recording */
#recording {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(53, 123, 212, 1) 50%,
    rgba(97, 45, 253, 1) 100%
  );
  height: 39rem;
  width: 100%;
}
.recordingBox {
  width: 13rem;
  height: 3rem;
  color: white;
}
.recordingBox:hover {
  width: 13rem;
  height: 3rem;
  color: white;
  border: 3px solid #ffc107;
}

/* homepage */
.homepage {
  width: 90%;
  margin-left: 5rem;
  color: #b44593;
}

#showDetails {
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(53, 123, 212, 1) 50%,
    rgba(97, 45, 253, 1) 100%
  );
}

#audioPlayerbackground {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(236, 155, 155, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}

/* ShowDetails */
#ShowDetailsCol_2 {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(236, 155, 155, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}
#boxStyling {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(236, 155, 155, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
#userform_login {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(53, 123, 212, 1) 50%,
    rgba(97, 45, 253, 1) 100%
  );
}

/* loginForm */
@media (max-width: 850px) {
  #loginForm {
    height: 140vh;
    background-color: #eee;
  }
}

.data1 {
  font-size: 16px;
}
.transcript {
  background-color: white;
  color: black;
}

/* Media Query */
@media (width: 550px) {
}
